# Node.js
frontend/node_modules/
frontend/dist/

# ドキュメントマークダウン
docs

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/

# Env files
.env
.env.prod

# Docker
*.log
docker-data/
certs/
postgres_data/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Makefile
Makefile

# 差分ファイル
diff.txt