# Node.js
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/

# Env files
.env
.env.prod

# Docker
*.log
docker-data/
certs/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
postgres_data/
certs/

frontend/public/