version: "3.9"

services:
  backend:
    working_dir: /app
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    image: schedule_app-backend:latest
    restart: always
    env_file: .env.prod
    depends_on:
      - db

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        VITE_API_URL: /api
    image: schedule_app-nginx:latest
    env_file:
      - .env.prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

  db:
    image: postgres:15
    restart: always
    env_file: .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  certs:
