.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding: 0.8rem 1.5rem;
    width: 100vw;
    max-width: 100%;
    color: #4a90e2;
  }
  


.navbar-center {
  justify-content: center; /* 中央寄せ */
}


  .navbar-left .navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .app-icon {
    height: 70px;
    margin-right: 0.6rem;
  }
  
  .brand-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .navbar-link, .navbar-user {
    text-decoration: none;
    color: #4a90e2;
    font-weight: 600;
    transition: color 0.2s;
  }
  
  .navbar-link:hover,
  .navbar-user:hover {
    color: #a3c0e1;
  }