.dates-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dates-modal-contents {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 16px;
  z-index: 1001;
  max-height: 300px;
  overflow-y: auto;
  width: 300px;
}

.dates-modal-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  position: relative;
  background: #fafbfc;
}

.dates-modal-contents.dates-modal-delete {
  background-color: #fc5959ff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.dates-modal-contents.dates-modal-delete:disabled {
  background-color: rgb(255, 197, 197);
}
